sourceDir = "~/chezmoi"

{{- $ageKeyExists := false }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $ageKeyExists = stat "/Users/tetsuya/Library/CloudStorage/Dropbox/chezmoi.age.key" }}
{{- else }}
{{-   $ageKeyExists = stat "~/.age.key" }}
{{- end }}

{{- if $ageKeyExists }}
encryption = "age"
[age]
# identity（私钥）：用于解密加密文件，必须保密
{{- if eq .chezmoi.os "darwin" }}
    identity = "/Users/tetsuya/Library/CloudStorage/Dropbox/chezmoi.age.key"
{{- else }}
    identity = "~/.age.key"
{{- end }}
# recipient（公钥）：用于加密文件，可以公开，配合私钥才能解密
    recipient = "age1mgse0g9kwwxvarn942n3zxn5dngye7769c924zzt0d876u4rx9ws9pa4u5"
{{- end }}
